<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815478550082-vik6hrcvvrfbdr3nif3lscv5llbtc77p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815478550082-vik6hrcvvrfbdr3nif3lscv5llbtc77p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>815478550082-0av4evt5rql10isjrg2gmqpso6rv9v1a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCz6KO9hIjGz8sFODpEon_DP-vBGCBUNQE</string>
	<key>GCM_SENDER_ID</key>
	<string>815478550082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sensible.sensiblebiz</string>
	<key>PROJECT_ID</key>
	<string>sconnect-pos</string>
	<key>STORAGE_BUCKET</key>
	<string>sconnect-pos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815478550082:ios:8cf9f2e59618d210e247db</string>
	<key>DATABASE_URL</key>
	<string>https://sconnect-pos.firebaseio.com</string>
</dict>
</plist>